<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mon projet Symfony </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
        <a href="#"> acceuil</a>
        <a href="#"> galerie</a>
        <a href="#"> contact</a>
        </nav>
    </header>
    <main>
        <section>
        <h1>MON TITRE</h1>
        <p>lorem ipsum</p>
        <img src="image/200x200-2867b506bcdc44a3be13e6a17cbc62d5.jpg">
        </section>
    </main>
    <footer>
    <p> tout droits résérvés</p>
    </footer>
</body>