<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mon projet Symfony </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
        <a href="{{ path('index') }}"> acceuil</a>
        <a href="{{ path('galerie') }}"> galerie</a>
        <a href="{{ path('contact') }}"> contact</a>
        </nav>
    </header>
    <main>
        <section>
        <h1>MON TITRE 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quibusdam libero quae nulla, aliquid expedita reiciendis? Odio soluta excepturi, libero tenetur nisi beatae quos quas, facilis natus rerum provident? Consequatur!</p>
        <img src="image/200x200-2867b506bcdc44a3be13e6a17cbc62d5.jpg">
        </section>
    </main>
    <footer>
    <p> tout droits résérvés</p>
    </footer>

<script src="js/script.js"></script>
</body>